.reset {
	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0;
  background-color: transparent;
}

.wrapper {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	max-width: 980px;
	min-width: 300px;
	width: 100%;
}

.title {
	font-size: 16px;
	color: #555;
	text-align: center;
}
.btn-area {
	margin-top: 1em;
	text-align: center;
}

.select-area {
	margin-top: 3em;
}
